.guide-section{
    max-width:1200px;
    margin:40px auto;
    padding:30px;
    background:white;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.guide-section h2{
    color:#5b3df5;
    font-size:38px;
    margin-bottom:25px;
}

.org-card{
    display:flex;
    align-items:center;
    gap:20px;

    background:#f8f7ff;

    padding:15px 20px;
    margin-bottom:12px;

    border-radius:12px;
    border-left:4px solid #6d4aff;
}

.org-card span{
    width:40px;
    height:40px;

    border-radius:50%;

    background:#6d4aff;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:bold;
}

.org-card h3{
    margin:0;
    font-size:22px;
    color:#1f2937;
}